// 基础css======================================================================
.inblock {
  display: inline-block;
}

.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px
}

.font-18 {
  font-size: 18px
}

.font-500{
  font-weight: 500;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.flex-center {
  display: flex;
  align-items: center
}

.flex-1 {
  flex: 1
}

.flex-2 {
  flex: 2
}

.flex-3 {
  flex: 3
}

.flex-4 {
  flex: 4
}

.flex-25 {
  flex: 0 0 25%
}

.flex-33 {
  flex: 0 0 33.3%
}

.flex-50 {
  flex: 0 0 50%
}

.flex-end {
  justify-content: flex-end;
}

.flex-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.flex-wrap {
  flex-wrap: wrap;
}

.text-right {
  text-align: right
}

.text-left {
  text-align: left
}

.text-center {
  text-align: center;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-5 {
  margin-top: 5px;
}

.mr-5 {
  margin-right: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.ml-5 {
  margin-left: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mr-15 {
  margin-right: 15px;
}

.mb-15 {
  margin-bottom: 15px;
}

.ml-15 {
  margin-left: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mr-20 {
  margin-right: 15px;
}

.mb-20 {
  margin-bottom: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.pl-15 {
  padding-left: 15px
}

.pt-15 {
  padding-top: 15px
}

.pb-15 {
  padding-bottom: 15px
}

.pr-15 {
  padding-right: 15px
}

.pl-20 {
  padding-left: 20px
}

.vertical-top {
  vertical-align: top
}

.vertical-middle {
  vertical-align: middle
}

.vertical-bottom {
  vertical-align: bottom
}

.pointer {
  cursor: pointer;
}
// 项目css======================================================================
.color-6 {
  color: #666;
}

.lab-sty {
  display: inline-block;
  width: 80px;
  text-align: right;
}

.ipt-sty {
  &.el-input--small {
    width: 220px;
  }
}

.handle-btn {
  display: inline-block;
  width: 28px;
  height: 28px;
  line-height: 28px;
  border-radius: 4px;
  text-align: center;
  background-color: #1c8be4;
  cursor: pointer;
  .iconfont {
    color: #fff;
  }
}

.border-bt {
  border-bottom: 1px solid #eee
}

.border-tp {
  border-top: 1px solid #eee
}

.pur-blue {
  background-color: #4880FF
}

.green {
  background-color: #24CCB8
}

.yellow {
  background-color: #FFC400
}

.orange {
  background-color: #F89939
}

.color-blue {
  color: #4880FF
}

.side-h4 {
  position: relative;
  margin: 20px 0 20px 10px;
  font-weight: 700;
}
.side-h4::before {
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
  content: '';
  display: block;
  width: 4px;
  height: 15px;
  background-color: #4880FF;
}

.main-color {
  color: #4880FF;
}

.avatar-uploader .el-upload {
  //border: 1px dashed #d9d9d9;
  //border-radius: 6px;
  //cursor: pointer;
  //position: relative;
  //overflow: hidden;
  //&:hover {
  //  border-color: #409EFF;
  //}
}
