//margin && padding
$sites:(
  t: top,
  r: right,
  b: bottom,
  l: left
);

$sizes:(
  0: 0,
  5: 5px,
  10: 10px,
  15: 15px,
  20: 20px,
  25: 25px,
  30: 30px
);

@each $prop,
$abbrev in ( m: margin,
  p: padding) {
  @each $name,
  $value in $sites {
    @each $size,
    $length in $sizes {
      .z-#{$prop}-#{$name}-#{$size} {
        #{$abbrev}-#{$value}: $length;
      }
    }
  }
}
.z-p-5{
  padding: 5px;
}
.z-m-0{
  margin: 0 !important;
}
.z-p-0{
  padding: 0 !important;
}
.z-p-10{
  padding: 10;
}
/*
高度宽度
 */
.z-h100{
  height: 100%;
}
.z-w100{
  width: 100%;
}
.z-wh100{
  width: 100%;
  height: 100%;
}
.z-h100vh{
  height: 100vh;
}

/*
 弹性布局
 */
.z-row{
  display: flex;
}
.z-col{
  display: flex;
  flex-direction: column;
}
.z-flex1{
  flex: 1;
}
.z-row-center{
  justify-content: center;
}
.z-col-center{
  align-items: center;
}
.z-flex{
  display: flex;
  align-items: center;
}
.z-flex2{
  flex: 2;
}
.z-flex3{
  flex: 4;
}
.z-flex4{
  flex: 4;
}
.z-flex5{
  flex: 5;
}
.z-flex6{
  flex: 6;
}
.z-flex7{
  flex: 7;
}
/*
字体
 */
.z-font-bold{
  font-weight: bold;
}
.z-color-error{
  color: #F56C6C;
}
.z-color-tip{
  color: #909399;
}
.z-color-primary{
  color: #409EFF;
}
.z-color-333{
  color: #333333;
}
.z-color-666{
  color: #666666;
}


/*
混杂
 */
.z-line-pub{
  width: 100%;
  height:1px;
  background: #D8D7D7;
  transform: scaleY(0.5);
}


.z-table-active{
  position: relative;
  background: #E6F7FF !important;
  ::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 6px;
    background: #1890FF;
    transition: all 0.5s;
  }
}
.z-search-pub{
  padding-right: 10px !important;
}

/*
下拉列表
 */
.z-infinite-list{
  color: #333333;
  overflow: auto;
  .z-infinite-item{
    //justify-content: center;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    position: relative;
    &:hover{
      background-color: rgba(72,128,255,0.07);
    }
  }
  .active{
    position: relative;
    background: #E6F7FF !important;
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 3px;
      background: #1890FF;
      transition: all 0.5s;
    }
  }
}

.z-ul{
  margin: 0;
  padding: 0 !important;
}
.z-dialog-pub{
  .el-dialog{
    display: flex;
    flex-direction: column;
    margin:0 !important;
    position:absolute;
    top:50%;left:50%;
    transform:translate(-50%,-50%);
    max-height:calc(100% - 30px);
    max-width:calc(100% - 30px);
  }
  .el-dialog__header{
    border-bottom: 1px solid #f0f0f0;
  }
  .el-dialog__body{
    padding-top: 30px !important;
    padding-bottom: 0;
    overflow: auto;
    flex: 1;
  }
  .el-dialog__footer{
    border-top: 1px solid #f0f0f0;
  }
}
.z-y-scroll{
  overflow-y: auto;
}
.z-container{
  background: #fff;
  font-size: 14px;
  height: 100%;
  padding: 0 15px;
}
.z-switch-item{
  vertical-align: middle;
  .z-left{
    width: 120px;
    display: inline-block;
    margin-right: 10px !important;
  }
}
.z-switch-item+.z-switch-item{
  margin-top: 20px;
}
.z-form-item{
  display: flex;
  align-items: center;
  height: 40px;
  margin-bottom: 22px;
  .z-left{
    width: 200px;
    text-align: right;
    font-size: 14px;
    color: #606266;
    font-weight: 700;
    padding: 0 12px 0 0;
    &.required::before{
      content: '*';
      color: #F56C6C;
      margin-right: 4px;
    }
  }
  .z-right{
    flex: 1;
  }
}
.z-input-32{
  .el-input__inner{
    height: 32px;
    line-height: 32px;
  }
}
.z-el-dialog{
  .el-dialog__header{
    .el-dialog__title{
      display: inline-block;
      width: 95%;
    }
  }
}

.z-tool{
  display: flex;
  align-items: center;
}
/* 关键字搜索 */
.z-input-with-select{
  width: 250px;
  .el-input.el-input--small {
    width: 250px;
  }
  .el-select .el-input{
    width: 100px;
  }
  .el-input-group__prepend {
    background-color: #fff;
  }
}
.z-scroll-y{
  overflow-y: auto;
}
.z-search-group{
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #eee;
  .z-search-item{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    .z-left{
      width: 90px;
      text-align: right;
    }
  }
  .z-search-btn{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
    min-width: 200px;
    .z-left{
      width: 20px;
    }
  }
}
.z-branch-page{
  display: flex;
}
[class*=" el-icon-"], [class^=el-icon-]{
  font-size: 16px;
}
.z-p-10{
  padding: 10px;
}
.z-underline{
  color: #409EFF;
  text-decoration: underline;
  cursor: pointer;
}
/*
表格
 */
.z-table-wrapper{
  padding-left: 10px;
}

.disabled .el-upload--picture-card {
  display: none;
}
.z-empty-block{
  width: 100%;
  height: 50px;
  display: flex;
  color: #909399;
  align-items: center;
  justify-content: center;
}

/*
省略号
 */
// 单行省略号
.z-one-line-ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
// 第三行省略
.z-three-line-ellipsis{
  display: -webkit-box;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; //行数
  overflow: hidden;
  text-overflow: ellipsis;
}

/*
其他
 */
// 库存输入
.stock-input{
  width: 120px;
  border: 1px solid #DCDFE6;
  .el-input{
    width: 48%;
    .el-input__inner{
      border: unset;
      padding: 0 5px;
    }
  }
}
.form-card{
  background: #FFFFFF;
  border-radius: 15px;
  .z-title{
    height: 52px;
    line-height: 52px;
    padding-left: 20px;
    font-size: 16px;
    border-bottom: 1px solid #E1E1E1;
  }
  .z-contain{
    padding: 32px;
  }
  .el-input-long{
    width: 80%;
    max-width: 700px;
  }
  .el-input-medium{
    width: 270px;
  }
}
.my-upload{
  .el-upload-list__item{
    width: 106px;
    height: 106px;
    line-height: 106px;
    .el-upload-list__item-status-label{
      display: none;
    }
  }
  .el-upload{
    width: 106px;
    height: 106px;
    line-height: 106px;
  }
}
.radio-col{
  width: 100%;
  padding-top: 12px;
  .el-radio{
    display: block;
  }
  label+label{
    margin-top: 10px;
  }
}
.add-form-table-pub{
  margin-left: 115px;
  width: 700px;
  .cell{
    overflow: unset;
  }
  .el-form-item__error{
    top: 80%;
  }
}
.w140{
  width: 140px;
}
.hideUpload .el-upload--picture-card {
  display: none;
}
.limit-group{
  position: absolute;
  bottom: 0;
  right: 6px;
  color: #909399;
  line-height: 30px;
}
.relative{
  position: relative;
}
.name-group{
  display: flex;
  align-items: center;
  .img-it{
    width: 60px !important;
    height: 60px !important;
    margin-right: 15px;
    flex-shrink: 0;
  }
}
.el-image-viewer__wrapper{
  .el-icon-circle-close{
    color: #fff;
  }
}
.z-scroll-box{
  overflow: auto;
  height: 100%;
}
// 订单列表
//.order-table{
//  .el-table--border th{
//    border: none;
//  }
//  .order-table-cell{
//    vertical-align: unset;
//    padding: 0 !important;
//    .cell{
//      padding: 0;
//      .z-first{
//        height: 32px;
//        line-height: 32px;
//        //background: rgba(65, 121, 255, 0.1);
//      }
//    }
//  }
//}
.z-form-limit{
  position: relative;
  width: 80%;
  max-width: 700px;
  .limit-length{
    position: absolute;
    right: 10px;
    bottom: 14px;
    line-height: 1;
    color: #909399;
  }
  &.textarea{
    .limit-length{
      bottom: 2px;
    }
  }
}
.form-item-col{
  .el-form-item__content{
    margin-left: 115px !important;
  }
}
.el-input.invalid{
  .el-input__inner{
    border-color: #F56C6C;
  }
}
.el-input.change{

}
.med-input-item{
  &.invalid{
    background: #F56C6C !important;
  }
}
// 药品row
.z-med-item{

}
